<main>

    <div class="conatiner mf-auto">
         
        <div class="row">
             <div class="col-md-6">
                 <div class="ml-5">
                     <div class="p-1">
                         <img src="/img/imgs/about.jpg" style="width: 80%; " class="rounded float-left " />
                     </div>
                 </div>
             </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card" style="width: 80%;">
                        <div class="card-body">
                            <div class="card-header">
                                <h5 class="card-title text-center text-justify text-blod">About us</h5>
                            </div>
                            <p class="card-text text-justify "> 
                                 Welcome to <b>Pizza World</b> where your craving for delicious, hot, and fresh pizza is just a click away! Our platform is designed to offer you a seamless and convenient pizza ordering experience, bringing your favorite flavors right to your doorstep. Whether you're looking for classic margheritas, spicy pepperoni, or custom toppings, we've got you covered. With an easy-to-use interface, secure payment options, and fast delivery, we make sure that your pizza experience is as satisfying as the pizza itself. 
                            
                                Order now and taste the difference!
                                             
                                 Feel free to adjust it according to your specific system features or brand identity.
                             
                            </p>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
 
    
     
 </main>