<main>
    <div class="text-blod">
        <h1 style="text-align: center; background-color: #699669; color: #542100 ;">Contact Us</h1>
    </div>
    <div class="conatiner">
         
        <div class="row my-5">
             <div class="col-md-4 py-5">
                 <div class="ml-5">
                    <div class="card">
                        <div class="card" style="width: 100%;">
                            <div class="card-body">
                                <div class="card-header">
                                    <h5 class="card-title text-center text-justify text-blod">Address</h5>
                                </div>
                                <p class="card-text text-Center "> 
                                    <b><u>First Floor New Infix Mall</u></b><br/>
                                    Dharampur Road,<br/>
                                    Valsad: 369007.
    
                                </p>
                              
                            </div>
                        </div>
                    </div>
                 </div>
             </div>
            <div class="col-md-4 py-5">
                <div class="card">
                    <div class="card" style="width: 100%;">
                        <div class="card-body">
                            <div class="card-header">
                                <h5 class="card-title text-center text-justify text-blod"> Mobile No</h5>
                            </div>
                            <p class="card-text text-Center "> 
                                <b style="text-align: center; ">9685741235 | 8765412590 </b><br/>
                                
                            </p>
                          
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 py-5">
                <div class="ml-5">
                   <div class="card">
                       <div class="card" style="width: 100%;">
                           <div class="card-body">
                               <div class="card-header">
                                   <h5 class="card-title text-center text-justify text-blod">Email_Id</h5>
                               </div>
                               <p class="card-text text-Center "> 
                                    pizzawd@gmail.com <br/> customercare24x7@gmail.com
                               </p>
                             
                           </div>
                       </div>
                   </div>
                </div>
            </div>
        </div> 
    </div>
 
    
     
 </main>