<form method="post" action="/log_user">
  <h1 style="text-align: center; background-color: blanchedalmond; color: #8a2891;">L O G I N</h1>
  <div class="row my-5">
    <div class="col-md-6">
      <div class="ml-5 py-5 ">
        <div class="ml-5">
          <div class="ml-5">
            <img src="img/login1.png" alt="login_page_png">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="col-md-6 ml-5">
        <div class="ml-5">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="text" class="form-control" name="txtemail" placeholder="Enter email">
            </div>


            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" name="txtpwd" placeholder="Enter Password">
            </div>

            <button type="submit" class="btn btn-primary"><b>Login</b></button>
            <br/></br>
            <a href="/registration" class="btn btn-light"> Don't Have Any Account</a>

        </div>
      </div>
    </div>
  </div>
</form>