<html>
    <head>
        <title>
            Pizza Ordering 
        </title>
        <link rel="stylesheet" href="/css/bootstrap.min.css" >
       
        


    </head>
    <body>
      <div class="container-fluid" style="background-color: #dde9dd">
        <div class="ml-5">
          <div class="ml-5">
            <div class="ml-5">
              <div class="ml-5">
                <div class="ml-5">
                  <div class="ml-5">
                    <div class="ml-5">
                      <div class="ml-5">
                        <div class="ml-5">
                          <div class="ml-5">
                            <div class="ml-5">
                              <div class="ml-5">
                                    <div class="ml-3">
                                      <a class="navbar-brand" href="/"><img src="/img/logo1.png" style="height: 25%;" ></a>      
                                            
                                              
                                    </div>
                                  </div>
                                </div>      
                            
                            </div>
                        </div>
                      </div>
                    </div>     
                  </div>
                </div>
              </div>      
            </div>
          </div>
        </div>
      </div>
            



      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Click Here You Want Some Various Options 😉
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            <div class="ml-5" >
              <div class="ml-5">
                <div class="ml-5">
                  <div class="row py-2 mr-3">
                     <ul class="list-group list-group-flush" style="color: #1E1C1C">
                        <li class="list-group-item"><a class="dropdown-item" href="/">Home</a></li>
                        <li class="list-group-item"><a class="dropdown-item" href="/about">About Us</a></li>
                        <li class="list-group-item"><a class="dropdown-item" href="/view_item">View Menu</a></li>
                        <li class="list-group-item"><a class="dropdown-item" href="/login">Login</a></li>
                        <li class="list-group-item"><a class="dropdown-item" href="/contact">Contact_Us</a></li>
                      </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
                    
        
    
   




        <%- body %>

        
      





        <footer>
          
                
            
             
           
           
           
          <div class="container-fluid" style="background-color: #c9c9c9">
            <div class="row py-2 mr-5" >
                <div class="col-md-12 text-gray  text-center">
                    <h3>
                        Copyright 2024 &copy; Pizza Order | Desinged By Yash Patel
                    </h3>
                </div>
            </div>  
            
        </footer>
        <script src="/js/jquery-3.7.1.min.js">
            </Script>
        <script src="/js/bootstrap.bundle.min.js"></script>
    </body>


</html>