<script>
    function validation()
    {
      var v=/^[a-zA-Z ]{2,50}$/
      if(form1.txtname.value=="")
      {
        alert("Please Enter Your Name")
        form1.txtname.focus();
        return false;
      }
      else
      {
        if(!v.test(form1.txtname.value))
        {
          alert("Please Enter Only Alphabetical Name")
          form1.txtname.focus();
          return false;
        }
      }

      if(form1.txtadd.value=="")
      {
        alert("Please Enter Your Address")
        form1.txtadd.focus();
        return false;
      }

      if(form1.txtcity.value=="")
      {
        alert("Please Enter Your City")
        form1.txtcity.focus();
        return false;
      }
      else
      {
        if(!v.test(form1.txtcity.value))
        {
          alert("Please Enter Only Alphabetical City Name")
          form1.txtcity.focus();
          return false;
        }
      }

      var v=/^[0-9]{10,10}$/
      if(form1.txtmno.value=="")
      {
        alert("Please Enter Your Mobile Number")
        form1.txtmno.focus();
        return false;
      }else if(form1.txtmno.value.length!=10)
      {
        alert("Please Enter Your Mobile Number 10 Digit Long")
        form1.txtmno.focus();
        return false;
      }
      else
      {
        if(!v.test(form1.txtmno.value))
        {
          alert("Please Enter Only Digits In Your Mobile Number")
          form1.txtmno.focus();
          return false;
        }
      }

      var v=/^[a-zA-Z0-9.-_]+@[a-zA-Z0-9.-_]+\.([a-zA-Z]{2,4})+$/
      if(form1.txtemail.value=="")
      {
        alert("Please Enter Your Email_Id")
        form1.txtemail.focus();
        return false;
      }
      else
      {
        if(!v.test(form1.txtemail.value))
        {
          alert("Please Enter Valid Email Id")
          form1.txtemail.focus();
          return false;
        }
      }
      
      if(form1.txtpwd.value=="")
      {
        alert("Please Enter Your Password")
        form1.txtpwd.focus();
        return false;
      }
      else if(form1.txtpwd.value.length<6)
      {
        alert("Please Enter Your Password More Than 6 Characters")
        form1.txtpwd.focus();
        return false;
      }
      else if(form1.txtpwd.value.length>10)
      {
        alert("Please Enter Your Password Less Than 10 Characters")
        form1.txtpwd.focus();
        return false;
      }


    }
</script>


<main>
  
<form method="post" action="/add_cust" name="form1">
    <div class="my-auto py-auto">
      <h1 style="text-align: center; background-color: gray; color: #3254ad; background:local;">Registration</h1>
    </div>
    
    <div class="row my-5">
      <div class="col-md-6">
        <div class="ml-5 py-5 ">
          <div class="ml-5">
            <div class="ml-5">
              <img src="img/man.png" alt="login_page_png" style="height: 45%;">
            </div>
          </div>
        </div>
      </div>
    <div class="col-md-6">
      <div class="col-md-6 ml-5">
      <div class="form-group">
      <label for="exampleInputEmail1">Enter Your Name</label>
      <input type="text" class="form-control" name="txtname" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Enter Your Address</label>
      <textarea class="form-control" name="txtadd" placeholder="Enter Your Address"></textarea>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Enter Your City</label>
      <input type="text" class="form-control" name="txtcity" placeholder="Enter Your City">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Enter Your Mobile_No</label>
      <input type="text" class="form-control" name="txtmno" placeholder="Enter Mobile No">
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Enter Your Email_Id</label>
      <input type="text" class="form-control" name="txtemail" placeholder="Enter Email_Id">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" name="txtpwd" placeholder="Enter Password">
    </div>
    
    <button type="submit" class="btn btn-primary" onclick="return validation()">Sign_Up</button>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/login" class="btn btn-dark"> Back</a>
  
   
  
  
    </div>
    </div>
    </div>
  </div>
  </form>
  </main>